<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

   
    
    <th:block th:fragment="eunjiSideFragment">
        <!-- html 코드 작성 -->
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="offset-2 d3_test" id="map" style="position: relative;">
                        <div id="tooltip">
                            <span id="tooltip-name">지역명: </span><br>
                            <span id="tooltip-count">발생 건수: </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    
</html>