<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/result_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div>
        <div>
            dddddd
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_jsp">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/sido/sido_month_property.js"></script>
</th:block>
</html>